@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(30, 38%, 92%);
    }

    .container{
        display: flex;
        max-height: 55vh;
        max-width: 75vh;
        
    }

    .mainImage{
        max-height: 55vh;
        border-radius: 1.5vh 0vh 0vh 1.5vh;
    }

    .conteudo{
        background-color: hsl(0, 0%, 100%);
        border-radius: 0vh 1.5vh 1.5vh 0vh;
        width: 50vh;
        padding-left: 6vh;
        padding-top: 3em;
    }

    .conteudo h2{
        font-family: Montserrat;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: rgb(131, 131, 131);
    }

    .conteudo h1{
       font-family: Fraunces;
       line-height: 2.2rem;

    }

    .conteudo p{
        color: rgb(88, 88, 88);
        font-family: Montserrat;
        line-height: 1.7rem;
    }
    .price{
        display: flex;
    }

    .price h1{
        font-family: Fraunces;
        color: hsl(158, 36%, 37%);
    }

    .price h3{
        padding-left: 1.5rem;
        padding-top: .5rem;
        font-family: 'Fraunces', Thin 100;
        text-decoration: line-through;
        color: rgb(131, 131, 131);
    }

    button{
        background-color: hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        height: 5vh;
        width: 25vh;
        border: 0;
        border-radius: .5rem;
        margin-top: 1.5rem;
        font-family: 'Montserrat', Regular 400;
        font-weight: bold;
    }

    button:hover{
        cursor: pointer;
        background-color: hsl(158, 36%, 19%);;
    }
    button img{
        padding-right: .5rem;
    }